extends layout
 
block content
  h1= title
  p Welcome to #{title}
  
  #content
    input#inputSearch(type="text", placeholder="Search")
    button#btnSearch Search
  
  #tableDiv
    table
      thead
        th Image
        th Title
        th Price
        th View Item
        th Web Site
      tbody
