doctype html
html
  head
    
    title= title
    //link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='http://teothemes.com/html/Couponizer/css/normalize.css')
    link(rel='stylesheet', href='http://teothemes.com/html/Couponizer/css/foundation.css', type="text/css")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,700', type="text/css")
    link(rel='stylesheet', href='http://teothemes.com/html/Couponizer/css/flexslider.css')
    link(rel='stylesheet', href='http://teothemes.com/html/Couponizer/css/main.css')
    link(rel='stylesheet', href="http://teothemes.com/html/Couponizer/css/mq-32.css")
    link(rel='stylesheet', href="http://teothemes.com/html/Couponizer/css/mq-48.css")
    link(rel='stylesheet', href="http://teothemes.com/html/Couponizer/css/mq-67.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://teothemes.com/html/Couponizer/js/vendor/modernizr-2.6.2.min.js")
    
  body
    block content
    
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js')
    script(src='/javascripts/global.js')
    script(src="/javascripts/sortChildren.min.js")
    script(src="/javascripts/results.js")
    
